.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav { padding: .8pt; background-color: #a2c4e3; }
nav li{display: inline;}
nav li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
}
nav li a:hover{background-color: #6c757d; color: #fff;}
input{border-radius: 5%; border: 2px solid #bbb;}
#loginemail, #loginpassword{margin: 8px; font-size: 20px;}
#login{font-size: 18px; margin-left: 8px;}
body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}