.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav { padding: .8pt; background-color: #a2c4e3; }
nav li{display: inline;}
nav li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    border-radius: 5%;
}
.card .btn {
    z-index: 2;         /*"Raise" the button to avoid the streched link*/
    position: relative;
 }
